/*body {
    display: block;
    /* O simplemente no declarar 'display' para usar el valor por defecto 
    margin: 0;
    padding: 0;
}*/

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        }
.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 1.5em;
    color: #333;
    margin-top: 16px;
    margin-bottom: 0;
}

.card p {
    color: #777;
    font-size: 1em;
    margin-top: 8px;
}

nav {
        /* position: sticky;*/
   top: 0;       
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 100px 20px;
    min-height: 80vh;
    border-bottom: 1px solid #ccc;
}

#presentacion {
    background-color: #e6f7ff;
}

#proyectos {
    background-color: #f0f0f0;
}

#bibliografia {
    background-color: #f0f9f0;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--bs-emphasis-color);
}

.main-header a{
    color: white;
}

.main-header a:hover{
    color: rgb(154, 150, 163);
}

.main-header a:active{
    color: blue;
}

.main-header h1 {
    color: white;
   background-color: var(--bs-emphasis-color) !important;
   padding: 10px 0 20px 20px;
   margin: 0;
   float: left;
}

#menu
{
   margin: 10px 0 0 0;
   padding: 5px;
   float: left;
   width: 70%;

}

#menu>ul>li
{
 
   padding: 10px;
}
